
{% block content %}
<head>
 
      <link href="https://fonts.googleapis.com/css?family=Alegreya|Amatic+SC|EB+Garamond|Teko|Varela+Round" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Alegreya|Amatic+SC|Dancing+Script|EB+Garamond|Fredoka+One|Josefin+Slab|Teko|Varela+Round" rel="stylesheet">
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
       
      
      <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
 
</head>
<body>
    <div class = "container">

 
        <div>
            <div class="row panel">
                <div class="col-md-4 bg_blur ">
                    <h4>SELLER</h4>
                </div>
                <h2>{{profile.business_name}}</h2>
                <p>{{profile.business_description}}</p>
            </div>
            <button><a  href="{% url 'profile' user.id %}" >EDIT PROFILE</a></button>
        </div>
    <button><a  href="{% url 'create_item' %}" >ADD PRODUCT</a></button>
    </div>
</body>

</html>
{% endblock %}