
{% block content %}
<head>
     
</head>
<body>
    <div class = "container">

 
        <div>
            <div class="row panel">
                <div class="col-md-4 bg_blur ">
                    <h4>SELLER</h4>
                </div>
                <h2>{{profile.business_name}}</h2>
                <p>{{profile.business_description}}</p>
            </div>
            <button><a  href="{% url 'profile' user.id %}" >EDIT PROFILE</a></button>
        </div>
    <button><a  href="{% url 'create_item' profile.id %}" >ADD PRODUCT</a></button>
    </div>
</body>

</html>
{% endblock %}